bar*font: xft:Inconsolata Medium:style=semibold:pixelsize=11:antialias=true:hinting=slight
urxvt*loginShell: true
urxvt*depth: 32
urxvt*foreground: rgb:29/79/99
urxvt*background: rgb:0b00/0b00/0b00
urxvt*font: xft:Inconsolata:pixelsize=14:antialias=true:hinting=slight
urxvt*termName: xterm-256color
urxvt*locale: true
urxvt*metaSendsEscape: true
urxvt*saveLines: 4096
urxvt*scrollBar: false
urxvt*internalBorder: 0

urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button: 1

! color codes borrowed from terminator
! black
urxvt*color0: rgb:2e/34/36
! red
urxvt*color1: rgb:cc/00/00
! green
urxvt*color2: rgb:4e/9a/06
! yellow
urxvt*color3: rgb:c4/a0/00
! blue
urxvt*color4: rgb:34/65/a4
! magenta
urxvt*color5: rgb:75/50/7b
! cyan
urxvt*color6: rgb:06/98/9a
! white
urxvt*color7: rgb:d3/d7/cf
! bright black
urxvt*color8: rgb:55/57/53
! bright red
urxvt*color9: rgb:ef/29/29
! bright green
urxvt*color10: rgb:8a/e2/34
! bright yellow
urxvt*color11: rgb:fc/e9/4f
! bright blue
urxvt*color12: rgb:72/9f/cf
! bright magenta
urxvt*color13: rgb:ad/7f/a8
! bright cyan
urxvt*color14: rgb:34/e2/e2
! bright white
urxvt*color15: rgb:ee/ee/ec
